@include font-face('Ubuntu', 'fonts/UbuntuR', 'UbuntuR', 400, normal);
@include font-face('Ubuntu', 'fonts/UbuntuRI', 'UbuntuRI', 400, italic);
@include font-face('Ubuntu', 'fonts/UbuntuM', 'UbuntuM', 500, normal);
@include font-face('Ubuntu', 'fonts/UbuntuMI', 'UbuntuMI', 500, italic);
@include font-face('Ubuntu', 'fonts/UbuntuB', 'UbuntuB', 700, normal);
@include font-face('Ubuntu', 'fonts/UbuntuBI', 'UbuntuBI', 700, italic);

body {
  background-color: $bg-color;
  color: $grey;
  font-family: 'Ubuntu', sans-serif;
}

img {
  max-width: 100%;
}

ul, ol {
  padding-left: 15px;
}

@include headings();
h1, h2, h3, h4, h5, h6 {
  color: $graphite;
}